body {
  background: #f0ffff;
}

#banner {
  width: 100%;
}

.titulo-principal {
  padding-left: 30px;
  font-size: 2em;
  margin: 0 0 1em;
}

.tiulo-centralizado {
  text-align: center;
}

p {
  text-align: center;
}

.itens {
  font-style: italic;
}

.juntos {
  background: #eee9e9;

  padding: 20px;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.imagempoco {
  width: 50%;
  height: 50%;
}

/* css da página principal*/

.banner {
  width: 10%;
}

.container {
  display: flex;
}
